.page2, .page3, .page4, .page5, .page6, .page7, .page8 {
    height:calc(100vh - 10rem);
    width:calc(100vw - 10rem);
    text-align: center;
    border: solid 5rem #fbfbfb;
    color:#fbfbfb;
}


.page2 {
    background-color: #EF476F;
}

.page3 {
    background-color: #FFC43D;
}

.page4 {
    background-color: #189AAA;
}

.page5 {
    background-color: #99DDC8;
}
.page6 {
    background-color: #EF476F;
}
.page7 {
    background-color: #FFC43D;
}
.page8 {
    background-color: #189AAA;
}

.question-container {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 7vmin);
}

.question-header{
    margin-top: 20px;
    font-family: 'Lora', serif;
}

.question-input[type=text]{
    border-radius: 8px;
    font-size: 25px;
    margin: 40px
}

.button {
    display: inline-block;
    padding: 17px 27px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #b920c9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.answer-items {
    width: 100%;
    padding: 0 2rem;

}

.answer-item {
    background-color: rgba(255 255 255 / 50%);
    color: black;
    font-size: 20px;

    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    margin-right: 1rem;
}
.answer-item:hover {
    background-color: rgba(255 255 255 / 40%);
}

.answer-item-x {
    margin-left: 0.5rem;
}
.answer-item-x:hover {
    opacity: 50%;
}