#vis {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px  solid black;
    zoom: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
}

#vis-instructions {
    /* position: absolute; */
    top: 2rem;
    width: 100vw;
    background-color: #99DDC8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}

#vis-add-delete-form {
    /* position: absolute; */
    bottom: 1rem;
    width: 80vw;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content:space-between;
    gap: -2rem;
}

#vis-add-menu {
    padding: 0;
    border: none;
    box-shadow: 0 0 50px rgb(0 0 0 / 25%);
    margin-bottom: 1rem;
}

#vis-add-menu > div {
    width: 25vw;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;

    border-radius: var(--bs-border-radius-lg);
}

#vis-add-toggle, #vis-delete-toggle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: var(--bs-gray-100);
    color: black;
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
    margin-bottom: 4rem;
}

#vis-add-toggle{
    color:#99DDC8
}
#vis-delete-toggle{
    color: #EF476F;
    margin-right: auto;
    margin-left: auto;
}


.dropdown{
    margin-right: auto;
    margin-left: auto;
}
.dropdown.show #vis-add-toggle {
    /* Button that toggles add menu is active */
    background-color: lightseagreen;
}

#vis-delete-toggle.active {
    /* Button that toggles delete mode is active */
    background-color: lightcoral;
}

#vis-add-button {
    font-size: 20px;
    background-color: #99DDC8;
    color: antiquewhite;
}

#vis-add-input {
    font-size: 20px;
}

.item.deleting:hover {
    /* Circles in delete mode */
    opacity: 75%;

}

.label {
    /* Text on circles */
    color:aliceblue;
    pointer-events: none;
}

#vis-next-button{
    /* margin-bottom: 1rem; */
    font-size: 20px;
    margin-left: -10rem;
    background-color: #99DDC8;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 43%;
}