#vis {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vis-instructions {
    position: absolute;
    top: 2rem;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#vis-add-delete-form {
    position: absolute;
    bottom: 1rem;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

#vis-add-menu {
    border: none;
    box-shadow: 0 0 50px rgb(0 0 0 / 25%);
    padding: 0;
}

#vis-add-menu > div {
    width: 25vw;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;

    border-radius: var(--bs-border-radius-lg);
}

#vis-add-toggle, #vis-delete-toggle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

#vis-add-button {

}

#vis-add-input {

}

.item {
    /* Circles */
}

.label {
    /* Text on circles */
}