#vis {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vis-instructions {
    position: absolute;
    top: 2rem;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#vis-add-delete-form {
    position: absolute;
    bottom: 1rem;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

#vis-add-menu {
    padding: 0;
    border: none;
    box-shadow: 0 0 50px rgb(0 0 0 / 25%);
}

#vis-add-menu > div {
    width: 25vw;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;

    border-radius: var(--bs-border-radius-lg);
}

#vis-add-toggle, #vis-delete-toggle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    border: none;
    background-color: var(--bs-gray-100);
    color: black;
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
}

.dropdown.show #vis-add-toggle {
    /* Button that toggles add menu is active */
    background-color: lightseagreen;
}

#vis-delete-toggle.active {
    /* Button that toggles delete mode is active */
    background-color: lightcoral;
}

#vis-add-button {
    /* "Add" button */
}

#vis-add-input {
    /* Input field for adding new content */
}

#vis-next-button {
    /* "Next" button */
}

.item {
    /* Circles */
}
.item.deleting:hover {
    /* Circles in delete mode */
    opacity: 75%;
}

.label {
    /* Text on circles */
}