body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.image{
  position: relative;
  height: 100vh;
}

.image1{
  position: relative;
  height:100vh;

}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width:100%;
}

.content span.img-txt{

  background-color: #333;
  text-transform: uppercase;
  color:#fff;
  padding:1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}
html {
  scroll-behavior: smooth;
}

